{{!-- ----Pagination---- number of items in list : {{@modelLength}} --}}
{{!-- <h6>number of pages: {{@this.noPages}}</h6> --}}
<div class="pagination">

  {{#if (gt @this.currentPage 1)}}
      <div data-test-prevpage class='arrow' {{on "click" @this.decPage}}> &larr;  </div>
  {{else}}
      <div class='arrow-disabled' > &larr;  </div>
  {{/if}}
  {{#each this.pageNumberArrays as |pageNumber|}}
      <div class='numbers' {{on "click" (fn @this.setCurrentPage pageNumber)}}>
         <div class={{if (eq @this.currentPage pageNumber) 'selected'}}>{{pageNumber}}</div>
       </div>
  {{/each}}
  {{#if (lt @this.currentPage @this.noPages)}}
        <div data-test-nextpage class='arrow' {{on "click" @this.incPage}}> &rarr;  </div>
  {{else}}
    <div class='arrow-disabled' > &rarr;  </div>
   {{/if}}

</div>
{{yield}}