{{!-- ----Pagination---- number of items in list : {{@modelLength}} --}}
{{!-- <h6>number of pages: {{@this.noPages}}</h6> --}}
<div class="pagination">
<button type="button" {{on "click" @this.decPage}}> Prev Page</button>
<h3>{{@this.currentPage}}</h3>
<button type="button" {{on "click" @this.incPage}}> Next Page</button>
</div>
{{yield}}