{{!-- ----Pagination---- number of items in list : {{@modelLength}} --}}
{{!-- <h6>number of pages: {{@this.noPages}}</h6> --}}
<!--<div class="pagination">-->
<div class="flex justify-center mx-auto">
  <div class='border-solid p-2 bg-gray-300  border-gray-400 border w-auto rounded-l-lg text-sm'>
  {{#if (gt @this.currentPage 1)}}
      <div data-test-prevpage class='cursor-pointer' {{on "click" @this.decPage}}> &larr;  </div>
  {{else}}
      <div class='text-gray-400' > &larr;  </div>
  {{/if}}
  </div>
  {{#each this.pageNumberArrays as |pageNumber|}}
      <div class='border-solid p-2 bg-white cursor-pointer border-gray-400 border w-auto text-sm' {{on "click" (fn @this.setCurrentPage pageNumber)}}>
         <div class={{if (eq @this.currentPage pageNumber) 'font-semibold'}}>{{pageNumber}}</div>
       </div>
  {{/each}}
  <div class='border-solid p-2 bg-gray-300  border-gray-400 border w-auto rounded-r-lg text-sm'>
  {{#if (lt @this.currentPage @this.noPages)}}
        <div data-test-nextpage class="cursor-pointer"  {{on "click" @this.incPage}}> &rarr;  </div>
  {{else}}
    <div class='text-gray-400' > &rarr;  </div>
   {{/if}}
  </div>
</div>
{{yield}}