<div class="article-page">
  {{#if (not-eq this.imageUrl '')}}
    <div class="header-image">
      <img class="mt-6 rounded-lg w-full h-60" src={{this.imageUrl}}>
    </div>
  {{/if}}
  <h5>Written by: {{@this.cardFields.Author.name}}</h5>
  <div class="headline">
      <h5 data-test-headLine>{{this.headLine}}</h5>
  </div>
  <div class="sub-headline">
    <h6 data-test-subHeadLine>{{this.subHeadLine}}</h6>
  </div>
  <h5>Link: {{@this.cardFields.Link}}</h5>
</div>
{{yield}}