<div class="block sm:hidden">
<!--<ul class="container">-->

  <ul class="flex flex-row flex-wrap">
  {{log @list}}
  {{#each @list as |card|}}
    <Card
      @cardFields={{card}}
      @id={{card.id}}
   />
 {{/each}}
</ul>
</div>

<div  class="hidden sm:block">
<!--<ul class="container">-->
  <ul class="flex flex-row flex-wrap">
  {{log this.cardsOfPage}}
  {{#each this.cardsOfPage as |card|}}
    <Card
      @cardFields={{card}}
      @id={{card.id}}
   />
 {{/each}}
</ul>

<Pagination

  @modelLength={{@list.length}}
  @currentPage={{this.currentPage}}
  @noPages={{this.noPages}}
  @incPage={{this.incPage}}
  @decPage={{this.decPage}}
  @setCurrentPage={{this.setCurrentPage}}
/>
{{!-- <h1>{{this.currentPage}}</h1> --}}
</div>
{{yield}}