{{page-title "EmberAssignment"}}
<div class="navbar">This is a navber</div>
{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
{{!-- <ul class="container"> --}}
{{!--   {{log @model}} --}}
{{!--   {{#each @model as |card|}} --}}
{{!--     <Card --}}
{{!--       @cardFields={{card.fields}} --}}
{{!--    /> --}}

{{!--  {{/each}} --}}
{{!-- </ul> --}}
{{!-- <div  class="show-pagination"> --}}

<!--<CardsList-->
<!--  @list={{@model}}-->
<!--/>-->
{{outlet}}
{{!-- </div> --}}
